
<IfModule mod_rewrite.c>
  RewriteEngine On

  # تأكد من أن الطلب ليس لملف فعلي أو مجلد
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # إعادة التوجيه إلى index.html
  RewriteRule ^ per12git.html [QSA,L]
</IfModule>
