
<IfModule mod_rewrite.c>
  RewriteEngine On

  # إذا لم يكن ملفًا أو مجلدًا موجودًا
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # أعِد التوجيه إلى index.html
  RewriteRule ^ per12git.html [L]
</IfModule>
